*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma,
      Sans-Serif;
}

a {
   text-decoration: none;
}

button {
   cursor: pointer;
}
